

.footer-container {
    padding: 20px;
    background-color: black;
    color: #f9fafb;
    font-family: 'Poppins', sans-serif;
    border-top: 2px solid #1f2937;
    text-align: center;
    height: 15vh;
  
}

.footer-container h5 {
    font-size: 15px;
    font-weight: 400;
}

.social-icons a {
    color: #f9fafb;
    font-size: 18px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons a:hover {
    color: #3b82f6;
    transform: translateY(-3px);
}

@media (max-width: 768px) {
    .footer-container h5 {
        font-size: 14px;
    }
}