.hero {

  background-color: #242c55;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  
}


.hero-title {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.hero-subtitle {
  font-size: 1.5rem;
  opacity: 0.9;
  color: antiquewhite;
}


.hero-photo {
  width: 550px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}


@media (max-width: 768px) {
  .hero {
    text-align: center;
    height: auto;
    padding: 50px 0;
  }

  .hero-photo {
    width: 250px;
    margin-top: 20px;
  }
}
.slide-down {
  animation: slideDown 2.3s ease-out forwards;
}

@keyframes slideDown {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-up {
  animation: slideUp 2.2s ease-out forwards;
  animation-delay: 0.2s; 
}

@keyframes slideUp {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.about{
    background-color: seashell;
    margin-top: 50px;
}
.about-title{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
}