.main-container{
    padding: 50px 70px;
}
.card{
    height: 300px;
    width:350px
}
.project-header{
    font-weight: 700;
    padding-top: 80px;
    padding-bottom: 30px;

}
.card:hover{
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   cursor: pointer;
}