.skilles-description {
  text-align: center;
  max-width: 800px; 
  margin: 0 auto;  
  line-height: 1.6;
}
.Skills-container{
    background-color: rgb(29, 28, 28);
    color: white;
    padding: 10px;
    margin-top: 60px;
    height: 120vh;
    height: fit-content;
    padding-bottom: 40px;
}
.progress{
    /* width: 60%; */
}
.skills-section {
  max-width: 800px;
  margin: auto;
}

.skills-description {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  color: #555;
  line-height: 1.6;
}

label {
  font-weight: 600;
  margin-bottom: 5px;
  display: block;
  color: #e6e3e3;
}

.progress {
  height: 20px;
  border-radius: 10px;
  background-color: #e6e6e6;
}

.progress-bar {
  font-size: 12px;
  line-height: 20px;
  border-radius: 10px;
  transition: width 1.5s ease-in-out;
}
.skilles-content{
    width: 60%;
    text-align: center;
    margin: 0 auto;  
}